body{
  background: url("../img/forestgump2.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.well{
  margin-top: 25%;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
}

.numberBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 39px;
  padding-top: 22px;
}
.pongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 30px;
  padding-top: 28px;
}
.pingPongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 26px;
  padding-top: 25px;
  line-height: 24px;
}
