body{
  background: url("../img/forestgump.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.well{
  margin-top: 25%;
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  border: none;
}
h1{
  font-size: 8em !important;
  font-weight: bold;
  /*font-family: 'Baloo Da', cursive;*/
  font-family: 'Ravi Prakash', cursive;
  /*font-family: 'Londrina Outline', cursive;*/
  /*font-family: 'Orbitron', sans-serif;*/

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4)
}
.numberBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 39px;
  padding-top: 22px;
  display: inline-block;
}
.pongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 30px;
  padding-top: 28px;
}
.pingPongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 26px;
  padding-top: 25px;
  line-height: 24px;
}
