body{
  background: url("../img/forestgump.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
span{
  font-size: .8em;
}
.well{
  margin-top: 25%;
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
  border: none;
  box-shadow: 6px 17px 31px  5px rgba(0,0,0,.4);
}
h1{
  font-size: 8em !important;
  font-weight: bold;
  font-family: 'Londrina Outline', cursive;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  text-transform: uppercase;
 }
.instructions, label{
  color: white;
  font-family: "roboto";
  text-shadow: black 0.1em 0.1em 0.4em;
  padding: auto 40px;
  font-size: 1.1em;

}

.numberBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 39px;
  padding-top: 22px;
  display: inline-block;
}
.pongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 30px;
  padding-top: 28px;
  display: inline-block;

}
.pingPongBall{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png');
  text-align: center;
  font-size: 26px;
  padding-top: 25px;
  line-height: 24px;
  display: inline-block;

}
#warning{
  color: red ;
  font-size: .8em;
  display: none;
}
