body{
  background: url("../img/forestgump.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
span{
  font-size: .8em;
}
.well{
  margin-top: 25%;
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
  border: none;
  box-shadow: 6px 17px 31px  5px rgba(0,0,0,.4);
}

h1{
  font-size: 8em !important;
  font-weight: bold;
  font-family: 'Londrina Outline', cursive;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  text-transform: uppercase;
 }
h1, button{
  font-family: 'Londrina Outline', cursive;
}
button{
  font-family: "oswald";
  font-size: 20px !important;
  margin-top: 23px;
  margin-left: 43px;
}
.instructions, label{
  color: white;
  font-family: "roboto";
  text-shadow: black 0.1em 0.1em 0.4em;
  padding: auto 40px;
  font-size: 1.1em;

}
.balls{
  width: 100px;
  height: 100px;
  background: url('../img/ball2.png') center center no-repeat;
  background-size: cover;
  text-align: center;
  display: inline-block;
  transition: width 2s, height 2s;
  background-size: cover;
}
.numberBall{
  font-size: 39px;
  padding-top: 22px;
}
.pongBall{
  font-size: 30px;
  padding-top: 28px;
}
.pingPongBall{
  font-size: 26px;
  padding-top: 25px;
  line-height: 24px;
}
.testball{
  font-size: 26px;
  padding-top: 25px;
  line-height: 24px;
}
.balls:hover{
  width: 150px;
  height: 150px;


}
#warning{
  color: red ;
  font-size: .8em;
  display: none;
}
.col2{
  text-align: center;
}
#playAgain{
  position: fixed;
  top: 45%;
  left: 40%;
  display: none;
}
